{{ define "content" }}<br> {{ if .Message }}
<div class="columns large-16 align-center">
  <div class="{{.Status}} callout" data-closeable>
    <p>{{.Message}}</p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
</div>
{{end}}
<div class="columns large-4 align-center container-padded">
  <form method="post" action="sensor/edit">
    <div class="sign-in-form">
      <h4 class="text-center">Update sensor</h4>
      <label for="sign-in-form-username">Sensor ID / Sensor name</label>
      <input type="text" name="sensor_id" placeholder="CHIBB-Node-1" value="{{ .Data.ID }}" required>
      <label for="sign-in-form-password">Type(s)</label>
      <input type="text" name="sensorType" placeholder="Temperature" value="{{ .Data.Type }}" required>
      <label for="sign-in-form-password">Node name</label>
      <input type="text" name="nodeName" value="{{ .Data.NodeName }}">
      <label for="sign-in-form-password">Node type</label>
      <input type="text" name="nodeType" value="{{ .Data.NodeType }}">
      <label for="sign-in-form-password">Node type</label>
      <select name="floor">
        <option value="0">Begane grond</option>
        <option value="1">Eerste verdieping</option>
        <option value="2">Tweede verdieping</option>
      </select>
      <input type="hidden" name="x_coordinate" id="field_x" class="form-input-field" required>
      <input type="hidden" name="y_coordinate" id="field_y" class="form-input-field" required>
      <button type="submit" class="sign-in-form-button">Update</button>
    </div>
  </form>
</div>
<div class="columns large-8 align-center container-padded" id="floor_plan_container">

  <canvas id="myCanvas" style="width: 100%;">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    var img_buffer = document.createElement('img');
    img_buffer.src = '/assets/img/CHIBB_0.png';
    var naturalWidth = 0;
    var naturalHeight = 0;
    var imgWidth = 0;
    var imgHeight = 0;

    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext('2d');
    img_buffer.onload = function() {
      imgWidth = img_buffer.width;
      imgHeight = img_buffer.height;
      naturalWidth = img_buffer.naturalWidth;
      naturalHeight = img_buffer.naturalHeight;
      canvas.width = imgWidth;
      canvas.height = imgHeight;
      context.drawImage(img_buffer, 0, 0, imgWidth, imgHeight);
    }
    $('select').on('change', function() {
      img_buffer.src = '/assets/img/CHIBB_' + this.value + ".png";
      context.drawImage(img_buffer, 0, 0, imgWidth, imgHeight);
    })

    $("#myCanvas").on("click", function(event) {
      context.drawImage(img_buffer, 0, 0, imgWidth, imgHeight);
      var currentClickPosX = event.pageX - this.offsetLeft;
      var currentClickPosY = event.pageY - this.offsetTop;
      var naturalClickPosX = (naturalWidth / canvas.scrollWidth) * currentClickPosX;
      var naturalClickPosY = (naturalHeight / canvas.scrollHeight) * currentClickPosY;
      $("#field_x").val(parseInt(naturalClickPosX));
      $("#field_y").val(parseInt(naturalClickPosY));
      context.beginPath();
      context.arc(naturalClickPosX, naturalClickPosY, 5, 0, 2 * Math.PI);
      context.stroke();
    });
  });
</script>
{{ end }}
